# Dependencies
/node_modules/

# Production build
/build/

# Local env files
.env
.env.* 

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Optional npm cache directory
.npm/

# Coverage directory used by testing tools
/coverage/

# Next.js build output
.next/

# Parcel cache
.cache/

# Temporary files
*.log
*.tmp

# Static files for uploads (optional, if you use public/uploads)
public/uploads

# TypeScript cache
*.tsbuildinfo

# Lint cache
.eslintcache

# React Native
.expo/
.expo-shared/

# Storybook build
storybook-static/

# Firebase cache
.firebase/

# VSCode settings (optional)
.settings/

# Yarn Integrity
.yarn-integrity
node_modules
dist
build
*.zip
.zip
text
